@media screen and (max-width: 600px) {
    .wrapper-content {
        display: block;
    }
    .dlabnav {
        position: fixed;
        width: auto !important;
        bottom: 5px;
        right: 5px;
        left: 5px;
        height: 60px;
        top: auto;
        margin: 0;
        background-color: white;
        border-color: #f3d3d6;
    }
    .nav-header {
        display: none;
    }
    .metismenu {
        flex-direction: row!important;
        padding-top: 0!important;
        justify-content: space-between;
    }

    .metismenu .nav-text {
        display: none;
    }
    .dlabnav .metismenu > li > a {
        padding: 3px;
    }
    #menu li a.active::before {
        display: none;
    }
    .dlabnav .metismenu > li > a i {
        font-size: 18px!important;
        margin: 0 auto;
    }
    .dlabnav .metismenu > li > a.active i{
        color: #5bcfc5;
    }

    .header-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .content-body {
        margin-left: 0 !important;
    }

    .footer {
        margin-bottom: 100px;
    }

    .form-wallet {
        flex-direction: column-reverse;
    }

    .form-wallet >div {
        margin-bottom: 10px;
    }

    .wrapper-search {
        flex-direction: column;
    }

    .wrapper-search >div {
        flex-direction: column;
        margin-left: 0 !important;
        width: 100%;
    }
    .wrapper-search >div >div{
        margin-bottom: 5px;
        width: 100%;
        margin-right: 0!important;
    }

    .export-btn, .main-action button {
        width: 100%;
        margin: 10px 0 0 0 !important;
    }
    .transaction-item {
        flex-wrap: wrap;
    }
    .transaction-item >div {
        border: none!important;
        padding: 0 !important;
        margin-bottom: 5px!important;
    }
    .transaction-item >div:first-child, .transaction-item >div:nth-child(2), .transaction-item >div:last-child {
        width: 100%;
    }
    .transaction-item >div:nth-child(3), .transaction-item >div:nth-child(4) {
        padding-left: 8px!important;
    }
    .budget-item >div {
        flex-wrap: wrap;
    }
    .budget-item >div >div {
        border: none!important;
        margin-bottom: 10px!important;
        padding: 0 !important;
    }
    .budget-item >div >div:nth-child(1) {
        margin-right: 10px;
        margin-left: -5px;
    }
    .budget-item >div >div:nth-child(4), .budget-item >div >div:nth-child(3), .budget-item >div >div:nth-child(5){
        width: 100%;
    }
}